{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	{% block extrastatic %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% endblock %}

	<meta charset="UTF-8">
	<title>{% block title%} Document {% endblock %}</title>
</head>
<body>
	{% block navbar%}
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">Brand</a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav">
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mascota <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="{% url 'mascota:mascota_view' %}">Registrar</a></li>
				            <li><a href="{% url 'mascota:mascota_listar' %}">Listar</a></li>
				          </ul>
				        </li>
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adopciones <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">Solicitar</a></li>
				            <li><a href="#">Listar Solicitudes</a></li>
				          </ul>
				        </li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="#">Codigo Facilito</a></li>
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">Salir</a></li>
				          </ul>
				        </li>
				      </ul>
			    </div>
			</div>
		</nav>	
	{% endblock %}

	{% block content %}
		<h5>Este es el contenido del archivo base</h5>
	{% endblock %}

	{% block extrajs %}
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script>
			
		</script>
	{% endblock %}
	<!--
		Mascotas
			Registrar
			Lisar
		Adopciones
			Solicitar
			Listar Solicitudes
		Codigo Facilito
		Opciones
	-->
</body>
</html>