{% extends 'base/base.html' %}

{% block content %}
<div class="container">
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		{{form.as_p}}
		<div class="row centered">
			<input type="submit" class="btn btn-success" value="Ingresar">
		</div>
	</form>
</div>
{% endblock %}

