{% extends 'base/base.html' %}

{% block content %}
<div class="container">
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		<h3>¿Desea eliminar el registro {{ mascota.nombre }}?</h3>
		<button class="btn btn-danger" type="submit">Si, eliminar</button>
		<a class="btn btn-default" href="{% url 'mascota:mascota_listar' %}">Cancelar</a>
	</form>
</div>
{% endblock %}
